body{
    margin: 0;
    max-height: 100vh;
    overflow: auto;
}

header{
    text-align: center;
}

.donutcreator{
    display: flex;
    flex-direction: row;

}



/* ----------form---------- */

.donutform{
    padding-left: 50px;
    padding-right: 20px;
    background-color: red;
}

label{

}

input{

}


/* ----------donutmaker---------- */


.donut3d{
    height: 90vh;
    width: 100%;

}

