body{
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

header{
    text-align: center;
}

.donutcreator{
    display: flex;
    flex-direction: row;

}




/* ----------form---------- */

.donutform{
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: red;
}

label{
font-size: 18px;
}

input{
    margin-top: 10px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;

}


/* ----------donutmaker---------- */


.donut3d{
    height: 100vh;
    width: 100%;

}

